body {
    font-family: Arial;
    background: #0f0f0f;
    color: white;
    padding: 40px;
}

.card {
    background: #7B2CBF;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    margin: auto;
    animation: fadeIn .5s ease;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

button {
    width: 100%;
    background: #4F8BF9;
    padding: 12px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #356ac2;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}
